html {
    scroll-behavior: smooth; 
}

/* start of navbar */
#navbar {
    background-color: rgba(172, 205, 228, 0);
}

#navbar-logo-div {
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    background-color:rgba(255, 255, 255, 0.233);
    border-radius: 10px;
}

#navbar-logo {
    height: 50px;
}

.navbar-brand {
    font-family: 'Ma Shan Zheng', cursive!important;
    margin-right: 0px;
    margin-left: 20px;
    font-size: 35px!important;
}

.navbar-title {
    color: white!important;
    font-size: 25px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* end of navbar */


.parallax {
    background-image: url("../images/nature-bg.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#banner-title {
    position: absolute;
    color: rgb(248, 248, 248);
    top:50%;
    left:50%; 
    text-align:center;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 100px;
}


.section-header {
    color: black;
    text-align: center;
    margin: 0;
    font-family: 'Ma Shan Zheng', cursive;
    background-color:rgba(93, 206, 136, 0);
    font-size: 50px;
    padding-top: 20px;
}


.content-container {
    display: hidden;
    height: 70vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 3vh;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 10px;
    /* transform: translateX(-100vw); */
}

/* start of section 1 */
#section1 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    transform: translateY(100vh);
    margin: 0;
    background-image: url("../images/nature2-bg.jpg");
    background-size: cover;
}

#intro-video {
    margin-top: 5vh;
}

/* end of section 1 */


/* start of section2 */
#section2 {
    height: 100vh;
    width: 100vw;
    transform:translateY(100vh);
    background-color: rgb(255, 255, 255);
    margin: 0;
    background-image: url("../images/nature3-bg.jpg");
    background-size: cover;
}




/* end of section2 */

/* start of footer*/
footer {
    transform: translateY(100vh);
    background-color: #282d32;
    height: 25vh;
    color: white;
}

footer a {
    text-decoration: none;
}

#footer-div {
    display: flex;
    height: 22vh;
}

/* social section */
#social-header-text {
    margin-top: 5vh;
    text-align: center;
}

#social-icons-div {
    display: flex;
    justify-content:center;
}

.social-icons {
    height: 20px;
    margin-right: 8px;
}


/* navigation section */
#navigation-header-text {
    margin-top: 5vh;
    text-align: center;
}

.navigation-link {
    color: rgb(126, 117, 117);
    font-weight: 500;
    text-align:center;
    font-size: 12px;
    margin: 0;
}

/* about us section */
#aboutus-footer-header {
    margin-top: 5vh;
    margin-left: 8vw;
}

#aboutus-footer-text-div {
    margin-left: 8vw;
    padding-right: 50px;
}

#aboutus-footer-text {
    color: rgb(126, 117, 117);
}

/* copyright section */
#copyright-div {
    display: flex;
    justify-content: center;
    height: 3vh;
}

p#copyright-text {
    font-family: niveau-grotesk,sans-serif;
    font-size: 15px;
    color: #a7aaa8;
}

/* end of footer */



/* start of start button */
#start-btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(96, 197, 96);
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

#start-btn:hover {
    background-color: rgb(162, 235, 162);
    border: 3px solid darkgreen;
}

/* end of start button */


/* animation */
.animate-pop-in {
    animation: pop-in .6s ease-out forwards;
}

@keyframes pop-in {
    0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
  }

.fade-in {
    animation: fadeInUp 1s ease-in-out 0s forwards;
}

@keyframes fadeInUp {
    from { 
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  




  /* start of map-page */
#map-page {
    width: 100%;
    position: absolute;
    top: 0;
}

.initial-hide {
    transform:translateX(-100%)
}

.hide-page {
    transition: 1s;
    transform:translateX(-100%);
    transition-timing-function: ease-in-out;
}


.show-page {
    transition: 1s;
    transform: translateX(0);
    transition-timing-function: ease-in-out;
}

#back-btn {
    position: absolute;
    z-index: 30000;
}