html {
    scroll-behavior: smooth; 
}

.navbar-brand {
    font-family: 'Ma Shan Zheng', cursive;
}

.parallax {
    background-image: url("../images/nature-bg.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#banner-title {
    position: absolute;
    color: white;
    top:50%;
    left:50%; 
    text-align:center;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 100px;
}

.section {
    height: 450px;
    background-color: rgba(85, 161, 211, 0.219);
    padding: 50px;
}

.section-header-div {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:aliceblue;
}

.section-header {
    color: black;
    text-align: center;
    margin: 0;
    font-family: 'Ma Shan Zheng', cursive;
    background-color:aliceblue;
    /* font-size: 50px; */
}

/* gallery carousel */
.slides-img {
    height: inherit;
    width: 100%;
}

.inner-img {
    max-height: 100%;
    max-width: 100%;
    padding:20px;
    border-radius: 50px!important;
}


/* animation */
.animate-pop-in {
    animation: pop-in .6s ease-out forwards;
}

@keyframes pop-in {
    0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
  }








  
